.jumbotron {
     background-image: url("../img/kids1.jpg");
    margin-bottom: 0;
    height:500px;
    background-size: cover;
    background-position: center;
    filter:sepia(100%);   
}

.buttonHeader {
    opacity: 0.4;
    position:relative;
    bottom:315px;
    border-radius:99px;
    color:white;

}

.navBottomFix {
    
    margin-bottom: 0;
}
  
.navbar-inverse .navbar-nav li a:hover {
    background-color: black;
    color: antiquewhite;
}

.fontTitle {
   font-family: "Comic Sans MS", cursive, sans-serif;
}


.bottomSpacing {
    margin-bottom: 40px;
    text-align: center;
    
    
}


.container .hovereffect .img-responsive {
   max-height: 250px;
    width:100%;
       
}

.well{
    background: #635d4e;
    color: antiquewhite;
    height: 320px;
    
}
article-style {
    height:6010px;
    max-height: 600px;
    line-height: inherit;
    
}

.about{
    font-family: monospace;
}

.box{
    box-sizing: border-box;
    height: 150px;
    max-width:  200px;  
    float:right;
    text-align: center;
    outline: 0;
    font-family: "Comic Sans MS"
    
    
}

.box:hover{
    opacity: 0.4;
}

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      filter:sepia(100%);  
      filter:sepia(100%);  
      margin: auto;
      min-height:200px;
      max-height: 600px;
      
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide 
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }*/
@media(max-width:600px)
{
    #titleFB{
       display: none;
               
    }
    
    .box{
        width:100%%;
        text-align: center;
    }
    
     .ex{
        width:50%;
        text-align: center;
        margin: 0 auto;
    }
    #myCarousel{
        margin-top: 50px;
        
    }
    
    
}

@media only screen 
and (min-device-width : 768px) 
    and (max-device-width : 1024px){
         .ex{
        width:80%;
        text-align: center;
        margin: 0 auto;
    
    
    }   
}
@media only screen(min-device-width : 1024px){
      width:80%;
        text-align: center;
        margin: 0 auto;  
        
}
     
.clear{clear: both}
      

.cartoon{
    height:90%;
    width:90%; 
    
}

#explenation{
    background:#f9f9f9;
    height: 200px;
    outline: 0;
     font-family: "Comic Sans MS";
    border: 1px dotted green;
    text-align: center;
    
}

#titleFB {
    box-sizing: border-box;
    position: absolute;
    color:darkgray;
    text-align: center;
    bottom:450px;
    left:250px;
    font-family: Nosifer;
}



/*LOGIN Nav Button
*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-gl{
    color: #fff;
    background-color:#d8443c;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.navmain{
    width:100%;
    
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
       
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
        
        
    }
    
 
    body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    
}
    
   
   