*{font-family: Merienda One;}

body{
    background-image: url(../img/wooden-white2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

aside {
    float: left;
    width: 25%;
    height:100%;
    background: #556270;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: black 1px dotted;
    margin-left: -15px;
    position: fixed;
       
}

main{
    float:left;
    width: 75%;
    height:100%;
    /*background-color:antiquewhite;*/
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
    margin-left: 25%;
  

    
}

.clear {clear:both}

.picParent {

    width:150px;
    height:150px;
    border: 8px solid #444e59;
}

.picChild {

    width:150px;
    height:140px;
    border: 4px solid #444e59;
    border-radius: 20%;   
    margin-top:5px;

}

#greeting{
    
    text-align: center;
    font-family: Merienda One; 
    color:floralwhite;
    font-size: 15px;
}


.boxInfo{
    box-sizing: border-box;   
    height: 20%;
    width: 90%;
    margin: 0 auto;  
    color: aliceblue;
    
    
    
    background: rgba(78, 96, 93, 0.6);
    -pie-background:  rgba(78, 96, 93, 0.6);
    behavior: url(PIE.htc);
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
  
}

.boxTasks{
    box-sizing: border-box;
    
    height: 80%;
    width: 90%;
    margin: 0 auto;
    color: aliceblue;
    font-family:Book Antiqua;
    text-align: center;
    background: rgba(78, 96, 93, 0.6);
    -pie-background:  rgba(78, 96, 93, 0.6);
    behavior: url(PIE.htc);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  
}



#fname{
    color: #2195c6;
    font-weight: bold;
}




.box h2{
    font-family: Book Antiqua;
    font-size: 40px;
}



.btn-info{
    height:9%;
}

form{
    margin: 0px auto;
    width: 70%;
    text-align: right;
    
}

form p{
    text-align: left;
    color: #444e59;
    margin-left:0px;
    
}

form p input{
    float:right;
    
}

input[type=text] {
    
    box-sizing: border-box;
    border: none;
    background-color: #556270;
    color: white;
    width: 60%;
}

input[type=number] {
    
    box-sizing: border-box;
    border: none;
    background-color: #556270;
    color: white;
    width: 60%;
}


select{
    background-color: #556270;
    color: white;
    width: 60%;
    float:right;   
    
}

.tabMenu{
    color: #444e59;
}
.head_text{
    color:#444e59;
    font-weight: bold;
    font-family: Lemon;
}
.button{
    background-color: #444e59;
    
}



.list-group{
    text-align: center;
   
    
}

.list-group a{
     background-color: #556270;
    border: #556270;
    color: white;
    
}

.list-group a:hover{
    
    font-size: 20px;
}

.list-group .active{
 background-color: #444e59;  
}

.bio{float:right;}


#logo{
    font-family: Miltonian;
    color:azure ;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

::placeholder {
    color: white;
    opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

























/*Mobile $ Tablets settings*/
@media only screen and (max-width: 600px) {
    .picChild{
        float:left;
         width:100px;
         height:90px;
        margin-left:-15px;
    }
    .bio{
    float:right;
    }
    
    .picParent {

    width:70%;
    height:80%;
    border: 6px solid #444e59;
}
    
    .stat{
        font-size: 10px;
    }
    
    .list-group a{
 font-size: 15px;  
}
    
    h2{
        font-size: 8px;
    }
    
    .list-group a:hover{
    
    font-size: 14px;
}

    input[type=text] {
    
    
    width: 100%;
}

input[type=number] {
   
    width: 100%;
}
    
select{
    
    width:100%; 
}
    
    #logo{
    
    font-size: 16px;
}
}

